#coche img {
    width: 50%;
    height: 50%;
    animation-delay: 8s;
    
    animation: moverCoche 4s linear infinite;
  }
  
  @keyframes moverCoche {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(310%);
    }
  }